.about-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: $font-second;
  font-size: 14px;
  line-height: 18px;
  color: $input-text;
}

.about-list__item {
  margin-bottom: 31px;
  position: relative;
  padding-left: 80px;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-color: $main-color;
    position: absolute;
    top: -5px;
    left: 0;
  }

  &--health::before {
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--fast::before {
    background-image: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--eat::before {
    background-image: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--result::before {
    background-image: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.about-list__item:last-child {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .about-list {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
  }

  .about-list__item {
    width: 245px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 183px;
    margin-right: 138px;
    font-size: 16px;
    line-height: 24px;
    position: relative;

    &::before {
      width: 80px;
      height: 80px;
      top: -111px;
      left: 0px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &::after {
      top: -150px;
      left: 116px;
      z-index: -1;
    }
  }

  .about-list__item--health {
    &::after {
      content: "1";
      position: absolute;
      color: $background-color;
      font-family: $font;
      font-size: 281px;
      line-height: 281px;
    }
  }

  .about-list__item--fast {
    &::after {
      content: "2";
      position: absolute;
      color: $background-color;
      font-family: $font;
      font-size: 281px;
      line-height: 281px;
    }
  }

  .about-list__item--eat {
    margin-top: 245px;

    &::after {
      content: "3";
      position: absolute;
      color: $background-color;
      font-family: $font;
      font-size: 281px;
      line-height: 281px;
    }
  }

  .about-list__item--result {
    margin-top: 245px;

    &::after {
      content: "4";
      position: absolute;
      color: $background-color;
      font-family: $font;
      font-size: 281px;
      line-height: 281px;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-list {
    flex-wrap: nowrap;
    padding-top: 183px;
    justify-content: space-between;
    width: 1200px;
    margin: 0;
  }

  .about-list__item {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;

    &::before {
      width: 80px;
      height: 80px;
      top: -110px;
    }
  }
}
