.address__wrapper {
  padding-top: 25px;
  padding-bottom: 26px;
  display: flex;
  width: 280px;
  margin: 0 auto;
}

.address__title {
  margin: 0;
  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $main-black;
  min-width: 141px;
}

.address__text {
  font-family: $font-second;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: $input-text;
  padding: 0;
  margin: 0;
  text-align: left;
  min-width: 150px;
}

.address__map {
  display: block;
  margin: 0 auto;
  width: 100%;

  iframe {
    height: 365px;
  }
}

@media (min-width: $tablet-width) {
  .address__wrapper {
    width: 768px;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 57px;
    padding-left: 71px;
    padding-right: 72px;
    display: flex;
    justify-content: space-between;
    background-color: $background-color;
  }

  .address__title {
    width: 208px;
    font-size: 20px;
    line-height: 25px;
    padding: 0;
    margin: 0;
  }

  .address__text {
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    text-align: right;
  }

  .address__city {
    display: block;
    padding-top: 20px;
  }

  .address__map {
    display: block;
    margin: 0 auto;

    iframe {
      height: 400px;
    }
  }
}

@media (min-width: $desktop-width) {
  .address {
    position: relative;
  }

  .address__map {
    width: 1300px;
    position: relative;
    display: block;
  }

  .address__wrapper {
    position: absolute;
    z-index: 5;
    background-color: #ffffff;
    top: 198px;
    left: 283px;
    transform: translate(-10%, -50%);
    display: flex;
    width: 570px;
    padding: 57px 83px 55px 77px;
    justify-content: space-between;
  }

  .address__city {
    padding-top: 20px;
  }

  .address__text {
    text-align: left;
  }
}
