.button {
  display: block;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 280px;
  background-color: $main-color;
  color: $second-color;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  text-align: center;
  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;

  &:hover {
    background-color: $main-color-hover;
  }

  &:active {
    background-color: $main-color-hover;
    opacity: 0.3;
  }
}
