.catalog-pro {
  background-color: $background-color;
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.catalog-pro__title {
  font-family: $font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-left: 70px;
  position: relative;
  margin-bottom: 28px;

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    top: -6px;
    left: 1px;
    border-radius: 50%;
    background-color: $main-color;
    position: absolute;
  }

  &::after {
    content: "";
    width: 67px;
    height: 28px;
    position: absolute;
    top: 5px;
    left: -7px;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.catalog-pro__text {
  font-family: $font-second;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid $decor-color;
  color: $input-text;
}

.to-catalog__link {
  display: block;
  padding-top: 20px;
  font-size: 16px;
  line-height: 16px;
  color: $main-black;

  svg {
    margin-left: 10px;
  }
}

@media (min-width: $tablet-width) {
  .catalog-pro {
    padding: 0 52px;
    padding-top: 46px;
    padding-bottom: 62px;
    position: relative;
  }

  .catalog-pro__title {
    font-size: 36px;
    line-height: 37px;
    padding: 0;
    padding-top: 30px;
    margin: 0;

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }

  .catalog-pro__text {
    padding-top: 25px;
    padding-right: 260px;
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;

    &::before {
      content: "";
      width: 200px;
      height: 200px;
      top: 90px;
      right: 60px;
      border-radius: 50%;
      background-color: $main-color;
      position: absolute;
    }

    &::after {
      content: "";
      width: 268px;
      height: 113px;
      position: absolute;
      top: 133px;
      right: 28px;
      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .catalog-pro__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    padding-top: 33px;

    svg {
      margin-left: 23px;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-pro {
    padding-top: 0;
    padding-left: 52px;
    padding-right: 72px;
    max-width: 570px;
  }

  .catalog-pro__title {
    font-size: 36px;
    line-height: 37px;
    padding-top: 81px;
    padding-bottom: 70px;
    padding-left: 160px;
    padding-right: 10px;
  }

  .catalog-pro__text {
    padding: 0;
    padding-bottom: 32px;
    font-size: 16px;
    line-height: 24px;

    &::before {
      content: "";
      width: 100px;
      height: 100px;
      top: 35px;
      left: 52px;
      border-radius: 50%;
      background-color: $main-color;
      position: absolute;
    }

    &::after {
      content: "";
      width: 134px;
      height: 57px;
      position: absolute;
      top: 69px;
      left: 17px;
      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .catalog-pro__link {
    padding: 0;
  }
}
