.choose-prog__wrapper {
  @include wrapper;
}

.choose-prog {
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  width: 100%;
  margin-bottom: 30px;
}

.choose-prog__title {
  font-family: $font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $second-color;
  padding: 0;
  margin: 0;
  padding-top: 28px;
  padding-left: 17px;
  margin-bottom: 24px;
}

.choose-prog__slogan {
  font-family: $font;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $second-color;
  margin: 0;
  padding: 0;
  padding-left: 41px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.choose-prog__sample {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .choose-prog__title {
    display: inline-block;
    color: $main-black;
    font-size: 60px;
    line-height: 60px;
    width: 510px;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-left: 87px;
  }

  .choose-prog {
    background-image: none;
    height: 840px;
  }

  .choose-prog__slogan {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: $main-black;
    padding-top: 41px;
    padding-left: 87px;
  }

  .choose-prog__sample {
    position: absolute;
    top: 230px;
    left: 29px;
  }

  .choose-prog__choose-link {
    width: 245px;
    z-index: 3;
    padding: 17px 26px 15px 26px;
    font-size: 20px;
    line-height: 20px;
    margin-top: 47px;
    margin-left: 90px;
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .choose-prog {
    margin: 0;
  }

  .choose-prog__title {
    margin: 0;
    width: 510px;
    padding-top: 53px;
    padding-left: 77px;
    padding-bottom: 24px;

  }

  .choose-prog__slogan {
    margin-left: 80px;
    margin-bottom: 53px;
  }

  .choose-prog__choose-link {
    margin: 0;
    margin-left: 77px;
  }

  .choose-prog__wrapper {

    position: relative;
    z-index: 4;
    min-height: 604px;
    padding-bottom: 80px;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/index-background-desktop@1x.jpg");
      top: -171px;
      left: 646px;
      width: 720px;
      height: 760px;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: -1;
    }
  }

  .choose-prog__sample {
    width: 552px;
    height: auto;
    position: absolute;
    top: 221px;
    left: 488px;
    transform: translate(0, -50%);
  }


}
