.developer__link {
  display: block;
  font-family: $font-second;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: $input-text;
}

.developer__logo {
  display: block;
  width: 27px;
  height: 34px;

  path {
    fill: $social-color;
  }

}

@media (min-width: $tablet-width) {
  .developer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .developer__link {
    margin-right: 23px;
  }
}

@media (min-width: $desktop-width) {
  .developer__logo {
    svg {
      width: 27px;
      height: 34px;
    }
  }
}
