.extra-item {
  padding-top: 14px;
  padding-bottom: 15px;
  border-bottom: 1px solid $decor-color;
}


.extra-item__title {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $input-label;
  padding-bottom: 15px;
}

.extra-item__volume {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-family: $font-second;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 14px;
  padding-right: 53px;
}
