.extra-item {
  padding-top: 17px;
  padding-bottom: 14px;
  border-bottom: 1px solid $decor-color;
}


.extra-item__title {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $input-label;
  padding-bottom: 15px;
}

.extra-item__total {
  margin-bottom: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-second;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.extra-item__container {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .extra-item {
    border: 1px solid $decor-color;
    padding: 28px 37px;
    margin-top: -1px;
  }

  .extra-item__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .extra-item__title {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 0;
  }

  .extra-item__wrapper .extra-item__total {
    font-size: 16px;
    line-height: 20px;
  }

  .extra-item__buy {
    width: 100%;
    padding: 10px 0;
  }

  .extra-item__total {
    display: flex;
    margin: 0;
  }

  .extra-item__price {
    margin-left: 20px;
  }

  .extra-item__container {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .extra-item__container {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
  }

  .extra-item {
    width: 895px;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-bottom: 1px solid $decor-color;

    &:first-child {
      border-top: 1px solid $decor-color;
    }
  }

  .extra-item__title {
    padding: 0;
    width: 327px;
    padding-right: 40px;
    font-size: 20px;
    line-height: 20px;
  }

  .extra-item__total {
    display: flex;
  }

  .extra-item__value {
    width: 243px;
    padding-right: 20px;
    font-size: 16px;
    line-height: 20px;
    font-family: $font-second;
  }

  .extra-item__price {
    width: 50px;
    font-size: 16px;
    line-height: 20px;
    font-family: $font-second;
  }

  .extra-item__buy {
    width: 245px;
  }
}
