.form-extra {
  display: flex;
  flex-direction: column;
}

.form-extra__wrapper {
  margin-bottom: 24px;
}

.form-extra__container {


  input+label:after {
    content: none;
  }

  input:checked+label:after {
    content: "";
  }
}

.form-extra__label {
  padding-left: 46px;
  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $input-label;
  text-transform: uppercase;
  position: relative;

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid $input-border;
    position: absolute;
    top: -4px;
    left: 0;
  }

  &::after {
    content: "";
    height: 17px;
    width: 8px;
    position: absolute;
    border-bottom: 1px solid $main-color;
    border-right: 1px solid $main-color;
    transform: rotate(45deg);
    top: 0px;
    left: 12px;
  }

  &:hover::before {
    border-color: $radiobox-hvr;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {

  .form-extra {
    padding-bottom: 60px;
    padding-left: 52px;
  }


  .form-extra__container {
    display: flex;
    margin-bottom: 50px;
    width: 690px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form-extra__wrapper {
    width: 50%;
    margin-bottom: 0;
  }

  .form-extra__label {
    font-size: 20px;
    line-height: 20px;

    &::before {
      top: -6px;
      left: -12px;
      width: 40px;
      height: 40px;
    }

    &::after {
      top: 4px;
      left: 4px;
    }
  }


}

@media (min-width: $desktop-width) {
  .form-extra {
    padding-left: 40px;
    flex-direction: row;
    align-items: center;
    padding-bottom: 74px;
  }

  .form-extra__container {
    margin-bottom: 0;
    justify-content: space-between;
    flex-grow: 1;
  }

  .form-extra__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }

  .form-extra__label {
    padding-left: 55px;
  }

  .form-extra__label::before {
    width: 40px;
    height: 40px;
    top: -8px;
    left: -1px;
  }

  .form-extra__label::after {
    top: 0;
    left: 15px;
  }
}
