.gift {
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  width: 280px;
  height: 289px;
  position: relative;

  svg {
    width: 56px;
    height: 61px;
    position: absolute;
    top: 65px;
    left: 138px;
    transform: translate(-50%, 0);
    fill: $second-color;
  }
}

.gift__text {
  font-family: $font-second;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $second-color;
  padding: 0;
  margin: 0;
  padding: 187px 55px 43px 55px;
  text-align: center;

}

@media (min-width: $tablet-width) {
  .gift {
    min-height: 337px;
    background-image: url("../../img/gift-photo-tablet@1x.jpg");
    width: 708px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    position: relative;

    svg {
      top: 40%;
      left: 20%;
      transform: translate(-50%, 0);
    }
  }

  .gift__text {
    padding: 0;
    width: 174px;
    position: absolute;
    top: 40%;
    right: 15%;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .gift {
    width: 245px;
    min-height: 289px;
    padding: 0;
    background-image: url("../../img/gift-photo-desktop@1x.jpg");
    background-position: center;

    svg {
      top: 23%;
      left: 50%;
    }
  }

  .gift__text {
    width: 174px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}
