.how-work__wrapper {
  @include wrapper;
}



.how-work__title {
  font-family: $font;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $main-black;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .how-work {
    padding-bottom: 102px;
    border-bottom: 1px solid $decor-color;
  }

  .how-work__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 45px;
  }
}

@media (min-width: $desktop-width) {
  .how-work__title {
    margin: 0;
    padding-top: 76px;
  }
}
