.how-work {
  margin-bottom: 40px;
}


.how-work__title {
  font-family: $font;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $main-black;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}
