.main-nav__list {
  display: none;
}

.main-nav__wrapper {
  @include wrapper;
}

.main-nav__toggle {
  background-image: url(../../img/icon-mobile-menu.svg);
  width: 25px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 410px;
  }
}
