.owner__wrapper {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  .owner__label--email {
    width: 18px;
    height: 14px;
    position: absolute;
    top: 20px;
    right: 20px;

    path {
      fill: $input-label;
    }
  }

  .owner__label--tel {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 20px;
    right: 20px;

    path {
      fill: $input-label;
    }
  }
}

.owner__label {
  font-family: $font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $main-black;
  text-transform: uppercase;
  padding-right: 12px;
}



.owner__input {
  height: 45px;
  padding-left: 16px;
  font-family: $font;
  font-size: 16px;
  line-height: 18px;
  color: $input-text;
  text-transform: uppercase;
  flex-grow: 1;
  padding-right: 35px;
  border: 1px solid $input-border;
  position: relative;

  &:focus~svg {
    path {
      fill: $main-color;
    }
  }
}

@media (min-width: $tablet-width) {
  .owner__label {
    font-size: 20px;
    line-height: 20px;
    padding-right: 20px;
  }

  .owner__input {
    height: 52px;
    line-height: 20px;
    font-size: 20px;
  }

  .owner__wrapper {
    margin-bottom: 20px;
  }

  .owner__label--tel {
    position: absolute;
    width: 18px;
    height: 14px;
    top: 20px;
    right: 20px;
  }

  .owner__label--tel::after {
    top: 21px;
    right: 17px;
  }
}

@media (min-width: $desktop-width) {
  .owner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-left: 40px;
    width: 1260px;
  }

  .owner__wrapper {
    margin-bottom: 0;
    width: 50%;
    margin-right: 78px;

    &:last-child {
      margin-right: 0;
    }
  }

  .owner__label {
    padding-right: 20px;
  }

  .owner__label--email::after {
    top: 22px;
    right: 20px;
  }

  .owner__label--tel::after {
    top: 20px;
    right: 20px;
  }
}
