.owner__wrapper {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

}

.owner__label {
  font-family: $font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $main-black;
  text-transform: uppercase;
  padding-right: 12px;

  &--email::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 14px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 13'%3e%3cpath fill='%23222222' d='M15.6 11.6H1.4V5.8H0V13h17V5.8h-1.4v5.8zM0 0v2.3l8.5 7.1L17 2.3V0H0zm15.6 1.6L8.5 7.5 1.4 1.6v-.2h14.2v.2z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    top: 16px;
    right: 16px;
    z-index: 5;
  }

  &--tel::after {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='%23222222' d='M17.9 9.4H9.4v1.2h8.5l-2.1 2.1.9.9 3.1-3.1c.2-.2.2-.6 0-.9l-3.1-3.1-.9.9 2.1 2zm-9.8 10v-6.2c0-.3-.3-.6-.6-.6H3.1c0 .7.6 1.2 1.2 1.2h2.5v5H3.1c-1 .1-1.8-.7-1.9-1.7v-14c0-1 .8-1.8 1.7-1.8h3.9v5H4.4c-.7 0-1.2.6-1.2 1.2h4.4c.3 0 .6-.3.6-.6V.6C8.1.3 7.8 0 7.5 0H3.1C1.5-.1.1 1.2 0 2.9v13.9c-.1 1.7 1.2 3.1 2.9 3.1h4.6c.3.1.6-.2.6-.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    top: 12px;
    right: 12px;
    z-index: 5;
  }

}

.owner__input {
  height: 45px;
  padding-left: 16px;
  font-family: $font;
  font-size: 16px;
  line-height: 18px;
  color: $input-text;
  text-transform: uppercase;
  flex-grow: 1;
  padding-right: 35px;
  border: 1px solid $input-border;
  position: relative;
}

@media (min-width: $tablet-width) {
  .owner__label {
    font-size: 20px;
    line-height: 20px;
    padding-right: 20px;
  }

  .owner__input {
    height: 52px;
    line-height: 20px;
    font-size: 20px;
  }

  .owner__wrapper {
    margin-bottom: 20px;
  }

  .owner__label--email::after {
    top: 22px;
    right: 20px;
  }

  .owner__label--tel::after {
    top: 21px;
    right: 17px;
  }
}

@media (min-width: $desktop-width) {
  .owner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 40px;
  }

  .owner__wrapper {
    margin-bottom: 0;
    width: 50%;
    margin-right: 78px;

    &:last-child {
      margin-right: 0;
    }
  }

  .owner__label {
    padding-right: 20px;
  }

  .owner__label--email::after {
    top: 22px;
    right: 20px;
  }

  .owner__label--tel::after {
    top: 20px;
    right: 20px;
  }
}
