.page-footer {
  background-color: $background-color;
}

.page-footer__social {
  height: 62px;
  display: flex;
  align-items: center;
  border-top: 1px solid $decor-color;
  border-bottom: 1px solid $decor-color;
}

.page-footer__logo {
  padding-top: 39px;
  padding-bottom: 28px;
  border-bottom: 1px solid $decor-color;
  display: flex;
  justify-content: center;
}

.page-footer__wrapper {
  @include wrapper;
}

.page-footer__developer {
  padding-top: 19px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;


  svg {
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    min-height: 150px;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    padding: 0;
    border: none;

  }

  .page-footer__developer {
    padding: 0;
    justify-content: space-between;
  }


  .page-footer__social {
    height: 62px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    min-height: 140px;
  }
}
