.product {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding-bottom: 23px;
  position: relative;
}


.product__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 11px;
}

.product__title {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $main-black;
  width: 72px;
  margin-bottom: 12px;
  text-transform: uppercase;
  padding-top: 11px;
}

.product_wrapper {
  display: flex;
  justify-content: space-between;
  height: 144px;
}


.product__img--sm {
  height: 144px;
}

.product__img--lg {
  height: 144px;
}

@media (min-width: $tablet-width) {


  .product {
    background-color: $background-color;
    width: 324px;
    padding: 0;
    padding-top: 173px;
    padding-bottom: 42px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }


  .product_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 38px;
    margin-bottom: 38px;
  }

  .product__title {
    font-size: 20px;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 17px;
  }

  .product__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .product__img {
    background-size: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 161px;
    height: 172px;
    position: absolute;
  }

  .product__img--sm {
    top: -40px;
  }


  .product__img--lg {
    top: -59px;
  }

  .product__btn {
    padding: 11px 0;
    font-size: 16px;
    line-height: 20px;
    align-self: center;
    width: 249px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 245px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .product__title {
    margin-bottom: 17px;
  }

  .product__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 195px;
    height: 208px;
    position: absolute;
  }

  .product__info {
    padding-top: 36px;
  }

  .total__row {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid $decor-color;
  }

  .product__btn {
    padding: 10px 0;
    width: 169px;
  }

}
