@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    width: 445px;
    list-style: none;
    margin: 0;
    padding: 0;

  }

  .site-list__item {
    a {
      text-decoration: none;
      font-family: $font;
      font-weight: 400;
      font-size: 18px;
      line-height: 15px;
      color: $input-label;
      text-transform: uppercase;
    }
  }
}


@media (min-width: $desktop-width) {
  .site-list__item {
    a {
      font-size: 20px;
      line-height: 25px;
      color: #ffffff;
    }
  }
}
