.social {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 132px;
}

.social__link {
  display: block;

  &--vk {
    width: 22px;
    height: 19px;


    path {
      fill: $social-color;
    }
  }

  &--instagram {
    width: 17px;
    height: 19px;


    path {
      fill: $social-color;
    }
  }

  &--fb {
    width: 10px;
    height: 19px;

    path {
      fill: $social-color;
    }
  }

  &:hover {
    path {
      fill: $main-color;
    }
  }

  &:active {
    path {
      fill: $main-color;
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
    width: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social__link {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}

@media (min-width: $desktop-width) {
  .social {
    display: flex;
    justify-content: space-between;
    width: 130px;
    margin: 0;
    padding: 0;
  }

  .social__link {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
