.to-catalog__wrapper {
  @include wrapper;
}

.to-catalog__link {
  font-family: $font;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: $main-black;
}

.to-catalog__slim {
  margin-bottom: 20px;
}

.to-catalog {
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .to-catalog {
    margin-bottom: 51px;
  }
}

@media (min-width: $desktop-width) {
  .to-catalog__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .to-catalog__slim {
    margin-bottom: 0;
    margin-right: 80px;
  }

  .to-catalog {
    margin-bottom: 79px;
  }
}
