.total {
  font-family: $font-second;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $input-text;
  padding: 0;
  margin: 0;
  padding-bottom: 14px;
  display: flex;
  justify-content: space-between;
}


@media (min-width: $tablet-width) {
  .total {
    font-size: 16px;
    line-height: 16px;
  }

  .total__title {
    padding-right: 52px;
  }
}

@media (min-width: $desktop-width) {
  .total {
    padding-bottom: 0;
  }
}
