//Colors variables

$main-color: #68b738; //основной цвет сайта
$main-black: #111111; //основной черный
$input-label: #222222; //обводка для полей ввода
$input-text: #444444; //цвет текста внутри полей ввода и цвет обводки в фокусе
$input-border: #cdcdcd; //цвет обводки полей ввода
$outline-color: #ff8282; //цвет ошибки для полей ввода
$radiobox-hvr: #bababa; //наведение на checkbox и radio
$second-color: #ffffff;
$background-color: #f2f2f2;
$decor-color: #d9d9d9;
$social-color: #666666;
//Fonts variables

$font: "Oswald",
Arial,
sans-serif;

$font-second: "Arial",
Tahoma,
sans-serif;

//Width variables
$tablet-width: 708px;
$desktop-width: 1220px;
